.bgLightGreen {
  background-color: #d0ff13 !important;
}
.textDark {
  color: #1c1c1c !important;
}
.bgDark {
  background-color: #1c1c1c !important;
}
.textLight {
  color: #fff !important;
}
.textLightGreen {
  color: #d0ff13 !important;
}
/* navbar started */
.navbarMain {
  background: #1c1c1c;
  padding: 10px 0px;
}
.navbarMain p {
  color: #fff;
  text-align: center;
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
  border-radius: 25px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 15px 20px;
  cursor: pointer;
}
.mobileNav {
  display: none;
}

.overlay {
  display: none;
}
/* navbar ended */

/* home section started */
.heroSection {
  background: #1c1c1c;
  padding: 50px 0px;
  z-index: 100;
}

.heroSectionBg {
  background: url("/contactBg.png");
  border: 1px solid red;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
  top: -60vh;

  z-index: -1;
}

.heroSection h2 {
  color: #fff;
  font-family: Nexa;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heroSection p {
  color: #fff;
  margin-bottom: 0px;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}
.downloadBtnGroup {
  width: 375px;
}
.downloadNowBtn {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  border-radius: 15px;
  background: #d0ff13;
  border: none;
  padding: 15px 15px 10px 15px;
  /* line-height: 1; */
}
.homeCard h5 {
  height: 25px !important;
}
.homeCard button {
  border-radius: 35px;
  border: 1px solid #000;
  background: #d0ff13;
  box-shadow: 5px 10px 30px 0px rgba(0, 0, 0, 0.2);
  color: #1c1c1c;
  height: 50px;
  width: 100%;
  font-family: Nexa;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.faqTableMain {
  padding: 40px 80px;
}
.faqCard {
  border-radius: 20px;
  background: #000;
  cursor: pointer;
}
.roadMapDiv {
  margin-top: 50px;
  height: 400px;
}
.roadMapDiv span {
  position: relative;
  top: 15px;
  color: #101010;
  font-family: Nexa;
  font-size: 150px;
  font-style: normal;
  font-weight: 700;

  text-align: center;
  margin-bottom: 0px;
}
.horizontalLine {
  height: 5px;
  width: 100%;
  background-color: #fff;
}
.verticalLine {
  height: 100px;
  width: 2px;
  background-color: #fff;
}
.visibilityNone {
  visibility: hidden;
}
.contentRoadMan {
  position: relative;
  top: -450px;
  margin-bottom: -450px;
}
.contentRoadMan p {
  color: #fff;
  font-family: Nexa;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contentRoadMan h6 {
  color: #fff;
  text-align: center;
  font-family: nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.yellowCircle {
  position: relative;
  top: -125px;
  background-color: #d0ff13;
  height: 40px;
  width: 40px;
  margin-bottom: -35px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 10px #d0ff13) drop-shadow(-2px -2px 10px #d0ff13);
}
/* home section ended */

/* about section started */
.ourStoryMain {
  background: #d0ff13;
  padding: 50px 0px;
}
.ourStoryMain h2 {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ourStoryMain p {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0px;
}
.aboutCard {
  border-radius: 20px;
  border: 2px solid #d0ff13;
  background: #000;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 45px 30px;
}
.aboutCard h5 {
  color: #fff;
  font-family: Nexa;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 50px;
  text-align: left !important;
}
.aboutCard p {
  color: #fff;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0px;
}
.aboutCard img {
  height: 120px;
}
/* about section ended */
/* why us started */
.homeLeftContent h4 {
  color: #fff;
  font-family: Nexa;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bottomP {
  font-size: 20px;
  font-weight: 700 !important;
}
/* why us ended */

/* advertice with us started */
.homeCard li {
  color: #fff;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 8px;
}
.greenTableHead {
  border-radius: 30px;
  background: #d0ff13;
}
.greenTableHead p {
  color: #000;
  text-align: center;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
  padding: 18px 0px;
}
.tableRow p {
  color: #000;
  text-align: center;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
  padding: 18px 0px;
  border-radius: 30px;
  background: #fff;
  margin: 0px 12px;
}
.diffrenceDiv li {
  color: #fff;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.diffrenceDiv p {
  margin-left: 40px;
}
.letsConnectBtn {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 20px;
  background: #d0ff13;
  box-shadow: 20px 20px 30px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 35px 0px 25px 0px;
  width: 700px;
}
/* advertice with us ended */
/* partner with us started */
.partnerCard {
  margin: 30px;
}

.outerBorder {
  border-radius: 30px;
  border: 2px solid #fff;
  background: #000;
  box-shadow: 8.727px 8.727px 17.455px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(15deg);
  height: 500px;
}
.innerBorder {
  border-radius: 26.182px;
  background: #d0ff13;
  box-shadow: 8.727px 8.727px 17.455px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(-15deg);
  height: 500px;
}
.partnerCard ul {
  padding: 0px 16px 0px 16px;
}
.partnerCard li {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.partnerCard img {
  position: relative;
  top: -50px;
  margin-bottom: -60px;
}
.partnerCard h6 {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.whyChooseCard {
  height: 100%;
}
.whyChooseCard h5 {
  font-size: 20px;
}
.ourStoryMain h4 {
  color: #fff;
  font-family: Nexa;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.partnerSayDiv p {
  font-size: 20px;
  margin-bottom: 20px !important;
}
.homeLeftContent h5 {
  color: #fff;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.font700 {
  font-weight: 700;
}
.contactCard {
  border-radius: 24px;
  border: 1px solid #d0ff13;
  padding: 25px;
  background: url("/contactCardBg.png");
}
.contactCard p {
  color: #fff;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  position: relative;
  top: 8px;
}
.contactCard h5 {
  color: #fff;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0px;
}
/* partner with us ended */

/* contact us started */
.contactSubHeading {
  color: #d0ff13;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #d0ff13;
}
.bgDarkContactCard {
  background: url("");

  background: rgba(1, 1, 1, 0.7);
}
.contactForm {
  padding: 45px;
  border-radius: 30px;
  background-color: #000;
}
.inputDiv input {
  outline: none;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 12px;
  margin-bottom: 25px;
  color: #fff;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.contactForm button {
  width: 100%;
  border-radius: 10px;
  background: #d0ff13;
  border: none;
  padding: 14px;
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contactContent h6 {
  color: #d0ff13;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contactContent h4 {
  color: #fff;
  font-family: Nexa;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contactContent p {
  color: #fff;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.font700 {
  font-weight: 700 !important;
}
.conatctBg {
  background: url("/contactBg.png");
  background-size: 100% 100%;
  opacity: 0.8;
}
/* contact us ended */
/* footer stared  */
.footerUpper {
  background: #d0ff13;
  padding: 50px 0px;
}
.footerNavMain a {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.footerBottom {
  background: #000;
}
.footerBottom p {
  margin-bottom: 0px;
  color: #fff;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 0px 13px 0px;
}
.scannerImage {
  border-radius: 10px;
  /* border: 1px solid #D0FF13; */
}
.scannerImage img {
  height: 90px;
  width: 90px;
}
.scannerCard {
  padding: 20px;
  border-radius: 20px;
  background: #1c1c1c;

  /* shadow 1 */
  box-shadow: 5px 10px 30px 0px rgba(0, 0, 0, 0.2);
}
.footerBtnGroup img {
  height: 40px;
}
.scannerCard p {
  color: #fff;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.socialIcons img {
  height: 40px;
  margin-right: 12px;
}
/* footer ended */

/* our services start */
.bookRideBtn {
  border-radius: 15px;
  background: #d0ff13;
  height: 70px;
  width: 330px;
  padding: 0px 10px;
}
.bookRideBtn p {
  color: #000;
  position: relative;
  top: 2px;
  font-family: Nexa;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 0px;
}
.rigtArrowDiv {
  height: 60px;
  width: 60px;
  background-color: #101010;
  border-radius: 10px;
}
.coreServiceCard {
  border-radius: 20px;
  border: 2px solid #d0ff13;
  background: #000;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.coreServiceCard h5 {
  color: #d0ff13;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.coreServiceCard p {
  color: #fff;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.serviceCloudBg {
  background: url("/sendBg.png") no-repeat;
  background-size: 100% auto; /* Width full, height auto */
  background-position: bottom;
  height: 50%; /* Optional: Define how much height container should show */
  overflow: hidden;
}
.serviceOntarioDiv {
  padding: 40px;
  border-radius: 30px;
  background: #d0ff13;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);
  margin: 0px 50px;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
}
.comingSoonCard {
  border-radius: 20px;
  border: 2px solid #fff;
  background: #000;
  padding: 20px;
}
.comingSoonCard h5 {
  color: #fff;
  font-family: Nexa;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comingSoonCard p {
  color: #fff;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}
.howWorksCard p {
  font-size: 18px !important;
}
.howWorksCard {
  padding-bottom: 0px;
}

/* our services end */
/* blogs started */
.font200 {
  font-weight: 200 !important;
}
.blogHeroImg img {
  border-radius: 20px;
  border: 1px solid #d0ff13;
}
.blogCategoryDiv {
  margin: 50px 0px;
}
.blogCategoryDiv p {
  color: #fff;
  cursor: pointer;

  font-family: Nexa;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 37.5px */
  padding: 20px 60px 10px 60px;
  margin-bottom: 0px;
}
.borderBottom {
  border-bottom: 2px solid #d0ff13;
}
.blogBg {
  background: url("/blogBg.png") no-repeat;
  background-size: 100% auto; /* Width full, height auto */
  background-position: top; /* Center vertically and horizontally */
  height: 50%; /* Adjust as needed */
  overflow: hidden;
}
.blogBgBottom {
  background: url("/blogDetailBg.png") no-repeat;
  background-size: 100% auto; /* Width full, height auto */
  background-position: center; /* Center vertically and horizontally */
  height: 50%; /* Adjust as needed */
  overflow: hidden;
}

.blogCard {
  border-radius: 20px;
  border: 1px solid #fff;
  background: #000;
  cursor: pointer;
}
.blogCard img {
  border-radius: 20px 20px 0px 0px;
}
.blogCard p {
  color: #fff;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sharingDiv p {
  color: #fff;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.sharingDiv {
  padding: 15px 0px;
  border-bottom: 1px solid #6b6b6b;
}
.sharingDiv img {
  margin-left: 20px;
}

.sharingDivBottom p {
  color: #fff;
  font-family: Nexa;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.copyLinkDiv {
  border-left: 1px solid #fff;
}
.sharingDivBottom img {
  margin-left: 20px;
}
.tagsDiv {
  padding: 30px 0px;
  border-bottom: 1px solid #6b6b6b;
  border-top: 1px solid #6b6b6b;
}
.tagsDiv h5 {
  color: #fff;
  font-family: Nexa;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100px;
  padding-top: 15px;
}
.tagsDiv button {
  padding: 15px 24px;
  border-radius: 25px;
  background: #d0ff13;
  border: none;
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}
.blogCard h6 {
  color: #fff;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
/* blogs end */

/* responsive code */
@media (max-width: 500px) {
  /* Mobile Nav */
  .mobileNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #101010;
    z-index: 2001;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    overflow-y: auto;
    pointer-events: none;
    opacity: 0;
  }
  .mobileNav.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2000;
    animation: fadeIn 0.3s ease-in-out;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .mobileNavItem p {
    color: white;
  }
  .brandMain img {
    height: 50px;
    position: relative;
    top: 5px;
  }
  .bar img {
    height: 40px;
  }
  /* home start */
  .heroSection {
    padding: 30px 0px;
  }
  .heroSection h2 {
    text-align: center;
    font-size: 20px;
  }
  .heroSection p {
    font-size: 14px;
  }
  .downloadBtnGroup {
    width: 100%;
  }
  .downloadBtnGroup img {
    width: 48%;
  }
  .homeBrandName {
    height: 23px;
    margin-bottom: 40px;
  }
  .ourStoryMain {
    background: #d0ff13;
    padding: 20px 0px;
  }
  .ourStoryMain h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .ourStoryMain p {
    font-size: 14px;
  }
  .aboutCard {
    padding: 25px;
  }
  .aboutCard h5 {
    font-size: 20px;
  }
  .aboutCard p {
    font-size: 14px;
  }
  .homeCard button {
    font-size: 16px;
  }
  .roadMapDiv {
    margin-top: 0px;
    height: 280px;
  }
  .roadMapDiv span {
    font-size: 60px;
  }
  .contentRoadMan {
    position: relative;
    top: -274px;
    margin-bottom: -274px;
  }
  .contentRoadMan p {
    font-size: 12px;
  }
  .contentRoadMan h6 {
    font-size: 10px;
  }
  .verticalLine {
    height: 40px;
  }
  .yellowCircle {
    position: relative;
    top: -48px;
    background-color: #d0ff13;
    height: 13px;
    width: 13px;
    margin-bottom: -35px;
    
filter: drop-shadow(0.609px 0.609px 3.047px #D0FF13) drop-shadow(-0.609px -0.609px 3.047px #D0FF13);
  }
  .horizontalLine {
    height: 2px;
  }
  .faqTableMain {
    padding: 20px 0px;
  }
  .faqCard {
    border-radius: 10px;
  }
  .faqCard img {
    height: 25px;
  }
  .footerNavMain a {
 
  font-size: 14px;
  
}
.socialIcons img{
  height: 20px;
  margin-right: 12px;
}
.scannerCard p{
  font-size: 12px;
}
.scannerCard{
  padding: 10px;
  border-radius: 12px;
}
.scannerImage img{
  height: 70px;
  width: 70px;
}
.footerUpper {
  background: #d0ff13;
  padding: 30px 0px;
}
.footerBottom p{
  font-size: 14px;
}
.aboutCard img {
  height: 50px;
}
.aboutCard h5{
  height: 100%;
  margin-left: 10px;
  position: relative;
  top: 5px;
}
.aboutCard p{
  font-size: 14px;
  margin-top: 12px;
}
.aboutCard{
  padding: 12px;
  border-radius: 20px;
}
.bookRideBtn {
  border-radius: 10px;
  height: 55px;
  padding: 5px;
}
.rigtArrowDiv{
  height: 40px;
  width: 40px;
}
}
