.bgLightGreen {
  background-color: #d0ff13;
}
.textDark {
  color: #1c1c1c !important;
}
/* navbar started */
.navbarMain {
  background: #1c1c1c;
  padding: 10px 0px;
}
.navbarMain p {
  color: #fff;
  text-align: center;
  font-family: Nexa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
  border-radius: 25px;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 15px 20px;
  cursor: pointer;
}

/* navbar ended */

/* home section started */
.heroSection {
  background: #1c1c1c;
  padding: 50px 0px;
}
.heroSection h2 {
  color: #fff;
  font-family: Nexa;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heroSection p {
  color: #fff;
  margin-bottom: 0px;
  font-family: Nexa;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 24px */
}
.downloadBtnGroup{
width: 375px;
}
.downloadNowBtn {
  color: #1c1c1c;
  font-family: Nexa;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  
  border-radius: 15px;
  background: #d0ff13;
  border: none;
  padding: 15px;
  /* line-height: 0px; */
}
/* home section ended */
